.section-servicos{
  margin: 20px 0;
  box-shadow: inset 0 0 4px 1px $azul;
  @include breakpoint('min',S){
    margin: 50px 0 100px;
  }
}
.servico-bloco{
  // background: rgba(0,0,0,.5)
}
.servico-bloco:nth-child(1){
  background: #116290;
  @include breakpoint('max',S){
    height: 115px;
    overflow: hidden;
    overflow-y: auto;
  }
  @include breakpoint('min',S){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
  }
}
.servico-bloco:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  @include breakpoint('min',S){
    height: 300px;
    
  }
}
// FRASES


.servico-frase{
  font-size: 14px;
  padding: 5px 12px;
  color: rgba(250,250,250,.7); 
  background: $azul;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  @include breakpoint('min',S){
    max-width: 200px;
    width: 100%;
  }
}

.servico-frase span{
  width: 20px;
  height: 20px;
  position: relative;
}

.servico-frase span::after,
.servico-frase span::before{
  content: ""; 
  margin: auto; 
  background: #fff;
  height: 2px;
  width: 2px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
} 
.servico-frase span::before{
  transform: rotate(90deg);
} 

.servico-frase:hover{
  background: rgba(255, 255, 255, 0.10);
}
.servico-frase.click{
  font-size: 18px;
  color: rgba(250,250,250,1);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.20);
  animation: .5s click forwards;
  @include breakpoint('min',S){
    padding: 20px 8px;
  }
}
.servico-frase.click span::after,
.servico-frase.click span::before{
  transition-duration: 1s;
  width: 20px;
  height: 2px; 
  top: 9px;
  left: 0;
}
.servico-frase.click span::before{
  transform: rotate(360deg);
}
.servico-frase.click span::after{
  transform: rotate(450deg);
}




// TEXTOS
.servico-texto{
  display: none;
  width: 90%;
  min-height: 50%;
  max-height: 80%;
  overflow: hidden;
  overflow-y: auto;
}
.servico-texto.show{
  display: block;
  animation: .5s click forwards;
}
.servico-texto p{
  margin-bottom: 10px;
}


@keyframes click{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}